@font-face {
  font-family: "Consolas";
  src: url("../assets/fonts/CONSOLA.TTF") format("truetype");
}
body {
  background-color: #1d212b !important;
  background-image: url("../assets/imgs/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body::before {
  content: "";
  z-index: -2;
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  height: 4300px;
  background-color: rgba(33, 39, 51, 0.978); /* Opacidad del fondo */
  background-attachment: fixed;
}

a {
  text-decoration: none !important;
}

.name-font {
  font-size: 30px;
}

.info-font {
  font-size: 24px;
}

.text-monospace span {
  border-radius: 3px 12px;
  font-size: 17px;
}

.git-font {
  font-size: 16px;
}

.tittle-font {
  font-size: 25px;
}

.email-font {
  margin-top: 5px;
  font-size: 15px;
}

.function-font {
  font-size: 22px;
  color: #0f9fff;
  font-family: "Consolas";
}
.function-font span {
  color: #0fff87;
}
.function-font span span {
  color: #98fe12;
}

.function-font-content {
  margin-top: 5px;
  font-size: 22px;
  color: #33B4FE;
  font-family: "Consolas";
}
.function-font-content span {
  color: #ba62dd;
}

.function-font-end {
  font-size: 22px;
  color: #98fe12;
  font-family: "Consolas";
}

.comment-block-font {
  font-size: 18px;
  color: #549954;
  font-family: "Consolas";
}

.list-custom {
  margin-left: 30px;
}

.m-l1 {
  margin-left: 7px;
}

.m-l2 {
  margin-left: 12.5px;
}

.m-l3 {
  margin-left: 35px;
}

svg path {
  fill: #fff;
}

@keyframes ColorChanger {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}
#card-container {
  height: 100%;
  width: 90%;
  transition: transform 0.1s ease-out;
}
#card-container:after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 10s ease infinite;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#card-container #card #include-img {
  transition: transform 0.2s ease-out;
}
#card-container #card > * {
  pointer-events: none;
}
#card-container #card #git-user {
  pointer-events: auto;
}
#card-container #card {
  height: 100%;
  width: 90%;
  background-color: #151922;
  background-size: cover;
  border-style: solid;
}
#card-container #card #titulo {
  color: #252B37;
  animation: ColorChanger 10s ease infinite !important;
}

.rounded-circle {
  width: 140px;
  height: 140px;
  border-style: solid;
  animation: ColorChanger 10s ease infinite !important;
}

@media (max-width: 2000px) {
  #card-container:after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 87.4%;
    margin: 0 auto;
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
  }
  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
@media (max-width: 991px) {
  #card-container #card {
    margin-left: -2.5%;
    width: 100%;
  }
  #card-container {
    margin-left: -2.8%;
    width: 100%;
  }
  #card-container:after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
  }
  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  #telefono {
    float: right;
  }
  #git-user {
    float: none;
    margin-left: 10px;
  }
  #git-container {
    margin-top: 2vw;
  }
  .m-l1 {
    margin-left: 0px;
  }
  .m-l2 {
    margin-left: 0px;
  }
  .rounded-circle {
    width: 80px;
    height: 80px;
  }
  .name-font {
    font-size: 33px;
  }
}
@media (max-width: 585px) {
  #card-container #card {
    margin-left: -2.5%;
    height: 100%;
    width: 110%;
  }
  #card-container {
    margin-left: -2.5%;
    height: 100%;
    width: 110%;
  }
  #card-container:after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 105%;
    margin: 0 auto;
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
  }
  @keyframes animateGlow {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  #telefono {
    float: none;
  }
  #git-user {
    float: none;
    margin-left: 10px;
  }
  #git-container {
    margin-top: 2vw;
  }
  .m-l1 {
    margin-left: 0px;
  }
  .m-l2 {
    margin-left: 0px;
  }
  .rounded-circle {
    width: 80px;
    height: 80px;
  }
  .name-font {
    font-size: 23px;
  }
  .name-font {
    font-size: 22px;
  }
  .text-monospace span {
    font-size: 16px;
  }
  .info-font {
    font-size: 20px;
  }
}
.tel {
  float: right;
}/*# sourceMappingURL=style.css.map */