<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>David</title>
  <link rel="stylesheet" href="../scss/style.css">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div id="background" class="container mt-4">
    <div class="row mt-lg-5">
      <div class="col-12 mt-lg-5">
        <div class="mx-lg-auto mx-md-auto mx-sm-auto mt-lg-5 col" id="card-container">
          <div class="mx-lg-auto mx-md-auto mx-sm-auto mt-lg-5 rounded" id="card">
            <div class="container ml-2 mt-lg-4 mt-sm-5">
              <!-- template pc -->
              <div id="template-container-pc" class="row">
                <div id="include-img" class="col-lg-2 col-sm-12 mt-lg-1 mt-3">
                  <img id="parallax-img" class="rounded-circle" src="../assets/imgs/yo.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-8 ml-lg-0 ml-md-5">
                  <div class="text-monospace name-font" id="titulo">David Preciado <span id="edad" class="badge badge-dark"></span></div>
                  <div class="text-monospace text-light m-l2 info-font">Multimedia Producer</div>
                  <div class="text-monospace text-light m-l1 info-font">Backend Dev</div>
                  <div class="text-monospace text-light info-font">ESP|ENG</div>
                </div>
                <div class="col-lg-3 col-md-5 ml-lg-0 ml-md-5 mt-md-3">
                  <div id="git-container" class="d-flex justify-content-end badge badge-dark">
                    <a class="text-monospace text-light git-font mr-2" id="git-user" href="https://github.com/DPreciado" target="_blank">@DPreciado
                      <span>
                        <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="pb-2 pt-1">
                          <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- template mobil -->
              <div id="template-container-mobile" class="row" style="display: none;">
                <div id="include-img" class="row col-lg-2 col-sm-12 mt-lg-1 mt-3">
                  <div class="col-3">
                    <img id="parallax-img" class="rounded-circle" src="../assets/imgs/yo.jpg" alt="">
                  </div>
                  <div class="col-8 ml-3">
                    <div class="text-monospace name-font" id="titulo">David Preciado <span id="edad-mobile" class="badge badge-dark"></span></div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-8 ml-lg-0 ml-md-5 mt-2">
                  <div class="text-monospace text-light m-l2 info-font">Multimedia Producer</div>
                  <div class="text-monospace text-light m-l1 info-font">Backend Dev</div>
                  <div class="text-monospace text-light info-font">ESP|ENG</div>
                </div>
                <div class="col-lg-3 col-md-5 ml-lg-0 ml-md-5 mt-md-3">
                  <div id="git-container" class="d-flex justify-content-end badge badge-dark">
                    <a class="text-monospace text-light git-font mr-2" id="git-user" href="https://github.com/DPreciado" target="_blank">@DPreciado
                      <span>
                        <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="pb-2 pt-1">
                          <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                        </svg>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="row mt-lg-4 mt-2">
                <div class="col-12 row">
                  <div class="col-12">
                    <div class=" function-font">function <span>technologies <span>() {</span></span></div>
                  </div>
                  <div class="col-lg-5">
                    <div class="list-custom function-font-content list-font">let <span>Django</span></div>
                    <div class="list-custom function-font-content list-font">let <span>Python</span></div>
                    <div class="list-custom function-font-content list-font">let <span>Git</span></div>
                    <div class="list-custom function-font-content list-font">let <span>HTML5</span></div>
                    <div class="list-custom function-font-content list-font">let <span>CSS3</span></div>
                  </div>
                  <div class="col-lg-5">
                    <div class="list-custom function-font-content list-font">let <span>Javascript</span></div>
                    <div class="list-custom function-font-content list-font">let <span>Markdown</span></div>
                    <div class="list-custom function-font-content list-font">let <span>VSCode</span></div>
                    <div class="list-custom function-font-content list-font">let <span>SQL</span></div>
                    <div class="list-custom function-font-content list-font">let <span>Docker</span></div>
                  </div>
                  <div class="col-12">
                    <div class="function-font-end">}<span class="comment-block-font"> /*arturo_preciado@live.com.mx <span id="telefono" class="tel">tel:<span>(644)1212704*/</span></span></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../scripts/script.js"></script>
  <!-- bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>